body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

div.wrapper {
    width:80%;
    margin:auto;
    margin-top:2em;
}

form.exam_create {
    border:1px solid black;
    min-width:350px;
    width:25%;
    padding:10px;
    margin-top:20px;
}
input[type=text] {
    width:40%;
}

label {
    display:block;
}

.forminput {
    margin:10px;
}

.clearfix {
    clear:both;
}
table {
    border-collapse: collapse;
    min-width:370px;
    margin-bottom: 20px;
}

table, tr, td {
    border:black solid 1px;
    padding:5px;
}

ul.list {
    border:black solid 1px;
    padding:5px;
    list-style-type: none;
}

.handtekening {
    max-width: 200px;
    max-height: 100px;
}

p.pagebreak {
    font-size: 0px;
}

@media print {
    p.pagebreak {page-break-after: always;}
}

@page {
    size: A4;
}

@page :left {
    margin-left: 0cm;
}

@page :right {
    margin-left: 0cm;
}