
{% extends "layout.html" %}
{% block content %}
<ul>
    {% for processes in attempt %}
    {% for proces in processes  %}
    <li><a href="#proces_{{ proces.idproces }}">{{ proces.description }}</a></li>
    {% endfor %}
    {% endfor %}
</ul>
<h1>Student</h1>
<table>
    <tr>
        <td>{{ student.fullName() }}</td>
    </tr>
</table>
<h1>Exam</h1>
<h3>{{ exam.description }}</h3>
<form action="/attempt/{{ student.idstudent }}/{{ exam.idexam }}" method="post">

<p>Datum:&nbsp; <input type="date" name="exam_date"></p>

    {% for processes in attempt %}
        {% for proces in processes %}
<table id="proces_{{ proces.idproces }}">
        <tr>
            <td colspan="8"><b>{{ proces.description }}</b></td>
        </tr>
        {% for assignment in proces.assignments %}
            <tr>
                <td colspan="8">{{ assignment.description}}</td>
            </tr>
            <tr>
                {% for aspect in assignment.aspects %}
                <td style="vertical-align: top; width:2%;"><input type="radio" name="_{{ assignment.idassignment }}" value="{{ aspect.idaspect }}"></td>
                <td style="vertical-align: top; width:23%;">{{ aspect.description }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% endfor %}
</table>
    {% endfor %}
    <input type="submit" name="btnsubmit">
</form>

{% endblock %}