{% extends "layoutv2.html" %}
{% block content %}
<title>{{ student.idstudent }}-{{ student.fullName() }}-[{{exam.examcode}}]-{{ results.exam_date | date('Ymd') }}</title>

</head>
<body>
<div class="wrapper">
    <h3>
        <b>Beoordeling beroepspraktijkvorming</b>
    </h3>
<table class="lb">

    <tr>
        <td><b>Student:</b></td>
        <td>{{ student.fullName() }}</td>
    </tr>
    <tr>
        <td><b>OV-nummer:</b></td>
        <td>{{ student.idstudent }}</td>
    </tr>
    <tr>
        <td><b>Crebonummer</b></td>
        <td>25187</td>
    </tr>
    <tr>
        <td><b>Niveau:</b></td>
        <td>4</td>
    </tr>
    <tr>
        <td><b>Cohort:</b></td>
        <td>{{ student.cohort }}</td>
    </tr>
    <tr>
        <td><b>BPV periode</b></td>
        <td>{{ report | first.exam_date | date_modify('-6 months') | date('m-Y') }} - {{ report | first.exam_date | date('m-Y') }}</td>
    </tr>
    <tr>
        <td><b>Praktijkbegeleider / Werkbegeleider</b></td>
        <td>{{ results.comment }}</td>
    </tr>
</table>

<p>
    Bovengenoemde student heeft voldaan aan de in de praktijkovereenkomst genoemde urenverplichting betreffende de beroepspraktijkvorming.
</p>
<p>
    De uitvoering van de in de praktijkovereenkomst genoemde werkzaamheden / kerntaken zijn met een voldoende / <s>onvoldoende</s> beoordeeld.
</p>
    <table style="border:none">
        <tr style="border:none">
            <td style="border:none">Plaats:</td>
            <td style="border:none">Datum:</td>
        </tr>
        <tr style="border:none">
            <td style="border:none">Almere</td>
            <td style="border:none">{{ report | first.exam_date | date('d-m-Y') }}</td>
        </tr>
    </table>


    <p>Handtekening bpvbegeleider i.o.m. praktijkbegeleider/werkbegeleider</p>
    <img class="handtekening" src="{{ base_url() }}/assets/img/handtekening_{{ results.assessor1 }}.png">

       <p> {{ results.assessor1_fullname }}</p>


<p class="pagebreak" p>
    </div>
</div>

{% endblock %}