<!doctype html>
<html lang="nl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/assets/normalize.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/examresults.css">
    {% block content %}<title>Examresults</title>{% endblock %}


</body>
</html>