{% extends "layout.html" %}
{% block content %}
<h1>New Aspect</h1>
<p>Exam: {{ exam.description }}</p>
<p>Proces: {{ proces.description }}</p>
<form id="aspectform" action="/aspect/{{ exam.idexam }}/{{ proces.idproces }}/{{ idassignment }}/new" method="post">
    <label for="idassignment">Assignment</label>
    <select id="idassignment" name="idassignment" onchange="aspectform.submit()">
        {% for a in assignments %}
        <option value="{{ a.idassignment }}" {% if a.idassignment == idassignment %}SELECTED{% endif %}>{{ a.description }}</option>
        {% endfor %}
    </select>
    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea><br>
    <select name="score">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select><br>
    <input type="submit" name="btnsubmit">
</form>
<table>
    {% for aspect in aspects %}
    <form action="/aspect/{{ exam.idexam }}/{{ proces.idproces }}/{{ idassignment }}/{{ aspect.idaspect }}/update" method="post">
        {{ csrf.field | raw }}
        <tr>
        <td>
            <textarea style="width:400px;" id="description" name="description">{{ aspect.description }}</textarea>
        </td>
            <td>
            <select name="score">
                {% for i in 0..3%}
                <option {% if aspect.score == i %}SELECTED{% endif %}>{{ i }}</option>
                {% endfor %}
            </select><br>
            </td>
            <td>
            <input type="submit" name="btnsubmit">
            </td>
    </tr>
    </form>
    {% endfor %}
</table>
{% endblock %}