{% extends "layout.html" %}
{% block content %}
<h1>New Exam</h1>
<form action="/exam/new" method="post">
    <label for="idexam">Exam Id</label>
    <input type="text" id="idexam" name="idexam">
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <label for="description">Caesura</label>
    <input type="text" id="caesura" name="caesura"><br>
    (kommagescheiden cijfer per punt bijv. 1,0 1,2 1,4 1,6 etc.)<br>

    <input type="submit" name="submit">
</form>
<table>
{% for key, exam in exams %}
<tr>
    <td>{{ key }}</td>
    <td><a href="/proces/{{ exam.examid }}/new">{{ exam.description }}</a></td>
    {% for date in exam.dates %}
    <td><a href="/result/{{ exam.examid }}/{{ date }}">{{ date }}</a></td>
    {% endfor %}

</tr>
{% endfor %}
</table>
{% endblock %}