{% extends "layout.html" %}
{% block content %}
<h1>New Exam</h1>
<form action="/exam/new" method="post">
    {{ csrf.field | raw }}
    <label for="idexam">Exam Id</label>
    <input type="text" id="idexam" name="idexam">
    <label for="examcode">Examcode</label>
    <input type="text" id="examcode" name="examcode">
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <label for="soort">Type</label>
    <select name="soort" id="soort">
        <option>beroepsexamen</option>
        <option>keuzedeel</option>
        <option>generiek</option>
        <option>bpv</option>
        <option>anders</option>
    </select>
    <label for="description">Caesura</label>
    <input type="text" id="caesura" name="caesura"><br>
    (kommagescheiden cijfer per punt bijv. 1,0 1,2 1,4 1,6 etc.)<br>

    <input type="submit" name="submit">
</form>
<table>
    {% for e in new_exams %}
    <tr>
        <td><a href="/proces/{{ e.idexam }}/new">{{ e.description }}</a></td>
    </tr>
    {% endfor %}
</table>

<h1>Results</h1>

<table>
{% for key, exam in exams %}
<tr>
    <td>{{ key }}</td>
    <td><a href="/proces/{{ exam.examid }}/new">{{ exam.description }}</a></td><td><a href="/results/{{ exam.examid }}/all">All</a></td>
    {% for date in exam.dates %}
    {% set counter = (counter | default(0) ) %}
    {% if counter == 8 %}</tr><tr><td colspan="2"></td>{% set counter = 0 %}{% endif %}
    {% set counter = counter + 1 %}

    <p></p>
    <td><a href="/result/{{ exam.examid }}/{{ date }}">{{ date | date('d-m-Y') }}</a></td>
    {% endfor %}

</tr>
{% endfor %}
</table>

{% endblock %}