
{% extends "layoutv2.html" %}
{% block content %}
<title>{{ student.idstudent }}-{{ student.fullName() }}-{{ student.idgroup }}-voordracht-diplomering</title>

</head>
<body>
<div class="wrapper">
    <div id="content">
        <h3>OVERZICHT VOORDRACHT DIPLOMERING</h3>
        <table class="nomination grey">
            <tr><td><b>Algemene gegevens</b></td></tr>
        </table>
        <table class="nomination algemeen">
            <tr>
                <td><b>Naam kandidaat</b></td>
                <td>{{ student.fullName() }}</td>
                <td></td>
            </tr>
            <tr>
                <td><b>OV-nummer</b></td>
                <td>{{ student.idstudent }}</td>
                <td></td>
            </tr>
            <tr>
                <td><b>Opleiding (naam)</b></td>
                <td>Applicatieontwikkeling</td>
                <td><b>Niveau:</b> 4</td>
            </tr>
            <tr>
                <td><b>Crebonummer</b></td>
                <td>25187</td>
                <td><b>Cohort:</b> {{ student.cohort }}</td>
            </tr>
            <tr>
                <td><b>Diplomeringsjaar</b></td>
                <td>2020</td>
                <td></td>
            </tr>
        </table>
        <table class="nomination exam">
            <tr class="grey">
                <td colspan="3"><b>Specifieke examens (inclusief specifieke taal-/rekenen-/kennistoetsen i.v.t)</b></td>
            </tr>
            <tr class="grey">
                <td colspan="2"><b>Basisdeel</b></td>
                <td>Document aanwezig</td>
            </tr>
        {% for idexamgroup, examgroup in basisexamens %}
            <tr class="grey">
                <td colspan="3"><b>{{ idexamgroup }}: {{ examgroup.description}}</b></td>
            </tr>
            {% for proces in examgroup.exams %}
            <tr>
                <td colspan="2">{{ proces.description }}</td>
                <td style="text-align:right;">J</td>
            </tr>

            </tr>
            {% endfor %}
        {% endfor %}
            <tr class="white"><td colspan="3"></td></tr>
            <tr class="grey">
                <td colspan="2"><b>Profieldeel</b></td>
                <td>Document aanwezig</td>
            </tr>
            {% for idexamgroup, examgroup in profielexamens %}
            <tr class="grey">
                <td colspan="3"><b>{{ idexamgroup }}: {{ examgroup.description}}</b></td>
            </tr>
            {% for proces in examgroup.exams %}
            <tr>
                <td colspan="2">{{ proces.description }}</td>
                <td style="text-align:right;">J</td>
            </tr>

            </tr>
            {% endfor %}
        {% endfor %}
            <tr class="white"><td colspan="3"></td></tr>
            <tr class="grey">
                <td colspan="2"><b>Keuzedelen (keuzedeelverplichting: 720 uur)</b></td>
                <td>Document aanwezig</td>
            </tr>
            {% for idexamgroup, examgroup in keuzedelen %}
            <tr class="grey">
                <td colspan="3"><b>{{ idexamgroup }}: {{ examgroup.description}}</b></td>
            </tr>
            {% for proces in examgroup.exams %}
            <tr>
                <td colspan="2">{{ proces.description }}</td>
                <td style="text-align:right;">J</td>
            </tr>

            </tr>
            {% endfor %}
            {% endfor %}
            <tr class="white"><td colspan="3"></td></tr>
        {% for idexamgroup, examgroup in bpv %}
            <tr class="grey">
                <td class="grey" colspan="2"><b>BPV</b></td>
                <td>Document aanwezig</td>
            </tr>
            {% for proces in examgroup.exams %}
            <tr class="grey">
                <td colspan="3"><b>{{ proces.description }}</b></td>
            </tr>

            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">Eindoordeel BPV</td>
                <td style="text-align:right;">J</td>
            </tr>
            <tr>
                <td colspan="2">POK(s) kwalificerende BPV</td>
                <td style="text-align:right;">J</td>
            </tr>
            <tr>
                <td colspan="2">Urenregistratie kwalificerende BPV</td>
                <td style="text-align:right;">J</td>
            </tr>
            {% endfor %}
            <tr class="white"><td colspan="3"></td></tr>
            {% for idexamgroup, examgroup in lb %}
            <tr class="grey">
                <td class="grey" colspan="2"><b>Loopbaan en burgerschap</b></td>
                <td>Document aanwezig</td>
            </tr>
            {% for proces in examgroup.exams %}
            <tr class="grey">
                <td colspan="3"><b>{{ proces.description }}</b></td>
            </tr>

            </tr>
            {% endfor %}
            {% endfor %}
            <tr>
                <td colspan="2">Inspanningsverplichting</td>
                <td style="text-align:right">J</td>
            </tr>
        </table>
        <table class="nomination">
            <tr class="grey">
                <td colspan="4"><b>Generieke examens</b></td>
            </tr>
            <tr class="white"><td colspan="4"></td></tr>
            <tr>
                <td><b>Vak</b></td>
                <td><b>Niveau</b></td>
                <td><b>Onderdeel</b></td>
                <td><b>Document aanwezig</b></td>
            </tr>
            <tr>
                <td rowspan="2"><b>CE Nederlands</b></td>
                <td rowspan="2">3F</td>
                <td>Lezen</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td>Luisteren</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td rowspan="3"><b>IE Nederlands</b></td>
                <td rowspan="3">3F</td>
                <td>Schrijven</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td>Spreken</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td>Gesprekken voeren</td>
                <td style="text-align:right;"></td>
            </tr>


            <tr>
                <td><b></b></td>
                <td>3F</td>
                <td>Schrijven</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td>3F</td>
                <td>Spreken</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td><b></b></td>
                <td>3F</td>
                <td>Gesprekken voeren</td>
                <td style="text-align:right;"></td>
            </tr>
           <tr class="white"><td colspan="4"></td></tr>
            <tr>
            <tr>
                <td><b>Rekenen</b></td>
                <td>3F/3ER**</td>
                <td></td>
                <td style="text-align:right;"></td>
            </tr>
            <tr class="white"><td colspan="4"></td></tr>
            <tr>
                <td rowspan="2"><b>CE Engels</b></td>
                <td rowspan="2">B1</td>
                <td>Lezen</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td>Luisteren</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td rowspan="3"><b>IE Engels</b></td>
                <td rowspan="3">A2</td>
                <td>Schrijven</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td>Spreken</td>
                <td style="text-align:right;"></td>
            </tr>
            <tr>
                <td>Gesprekken voeren</td>
                <td style="text-align:right;"></td>
            </tr>
             <tr class="white"><td colspan="4"></td></tr>
            <tr class="grey"><td colspan="4"><b>Loopbaan en burgerschap</b></td></tr>
            <tr class="white"><td colspan="3"></td></tr>
            {% for idexamgroup, examgroup in lb %}
            <tr>
                <td colspan="3">Inspanningsverplichting voldaan</td>
                <td style="text-align:right;">J</td>
            </tr>
            {% endfor %}
        </table>

        <table class="nomination">
            <tr class="grey"><td colspan="3"><b>Conclusie diplomeringsvergadering</b></td><td style="text-align:right;">J/N</td></tr>
            <tr><td colspan="3"><b>Kandidaat wordt voorgedragen voor diplomering</b></td><td style="text-align:right;">J</td></tr>
            <tr class="white"><td colspan="4"></td></tr>
            <tr class="grey">
                <td><b>Controle TEC (inclusief Eduarte)</b></td>
                <td><b>Naam</b></td>
                <td><b>Datum</b></td>
                <td><b>Paraaf</b></td>
            </tr>
            <tr>
                <td>Akkoord / niet akkoord**<br><br><br></td>
                <td></td>
                <td></td>
                <td ></td>
            </tr>
        </table>

        <a class="noprint" href="/all_newresults/{{student.idstudent}}">Alle resultaten voor deze student</a>
        {% endblock %}