
{% extends "layout.html" %}
{% block content %}
<h1>Presentie</h1>
<p>
</p>
<ul>
    <li>Starttijd: 09:00</li>
    <li>Eindtijd: 16:00</li>
</ul>
<form action="/presence/store" method="post">
    <label for="title">Titel</label>
    <input id="title" name="title" value="">
    <label for="exam_duration">Duur van het examen</label>
    <input type="time" name="exam_duration" id="exam_duration" value="09:00" onchange="calculateEndDate()">
    <label for="startdatetime">Begindatum</label>
    <input type="datetime-local" id="startdatetime" name="startdatetime" value="{{ presence.startdatetime }}">
    <label for="enddatetime">Einddatum</label>
    <input type="datetime-local" id="enddatetime" name="enddatetime" value="{{ presence.startdatetime }}">
    <label for="idexam">Examen</label>
    <select id="idexam" name="idexam">
        {% for exam in exams %}
        <option value="{{ exam.examid }}">{{ exam.description }}</option>
        {% endfor %}
    </select>
    <label for="title">Students</label>
    <textarea id="students" name="students" rows="10" cols="40"></textarea><br>
    <input type="submit" name="btnsubmit">
</form>
    <form action="/presence" method="post">
        <select name="title">
            {% for title in titles %}
            <option>{{ title.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="btnsubmit">
    </form>
<table>
<tr>
    <th>
        OV Nummer
    </th>
    <th>
        Naam
    </th>
    <th>
        Start
    </th>
    <th>
        Einde
    </th>
    <th>
        Paraaf Start
    </th>
    <th>
        Paraaf Eind
    </th>
</tr>
{% for student in students %}
<tr>
    <td>
        {{ student.idstudent }}
    </td>
    <td>
        {{ student.fullname }}
    </td>
    <td>
        <input type="datetime-local" name="_date_{{ student.idstudent }}" value="{{ student.startdatetime }}">
    </td>
    <td>
        <input type="datetime-local" name="_date_{{ student.idstudent }}" value="{{ student.enddatetime }}">
    </td>
    <td>

    </td>
    <td>

    </td>
</tr>
{% endfor %}
</table>
<script>
    let objects = {{ students | json_encode | raw }};
    console.log(objects);
    let table = document.createElement("table");
    table.style.width = "100%";

    let row;
    let cell;
    for(let i = 0; i<objects.length; i++) {
        console.log(objects[i]);
        row = document.createElement("tr");
        cell = document.createElement("td");
        cell.innerText = objects[i].idstudent;
        row.appendChild(cell);
        cell = document.createElement("td");
        cell.innerText = objects[i].idexam;
        row.appendChild(cell);
        table.appendChild(row);
    }

    document.body.appendChild(table);


    function calculateEndDate() {
        let exam_duration = document.getElementById('exam_duration').value.split(':');
        let exam_minutes = (parseInt(exam_duration[0]) * 60) + parseInt(exam_duration[1]);


        let start_date = new Date("{{presence.startdatetime}}");
        start_date.setMinutes(start_date.getMinutes() + exam_minutes);


        //Set enddatetime field
        let e = document.getElementById('enddatetime');
        e.value = start_date.toISOString().substr(0, 16);

    }
</script>
{% endblock %}