
{% extends "layout.html" %}
{% block content %}
<h1>Presentie</h1>
<table>
    {% for presentie in presenties %}
    <tr>
        <td>{{ presentie.idpresentie }}</td>
        <td> {{ presentie.begindatum }}</td>
    </tr>
    {% endfor %}
</table>
<form action="/presentie" method="post">
    <label for="title">Titel</label>
    <input id="title" name="title" value="">
    <label for="startdate">Begindatum</label>
    <input type="date" id="startdate" name="startdate">
    <label for="enddate">Einddatum</label>
    <input type="date" id="enddate" name="enddate">
    <label for="idexam">Examen</label>
    <select id="idexam" name="exam">
        {% for exam in exams %}
        <option value="{{ exam.idexam }}">{{ exam.description }}</option>
        {% endfor %}
    </select>
    <label for="title">Students</label>
    <textarea id="students" name="students" rows="10" cols="40"></textarea><br>
    <input type="submit" name="btnsubmit">
</form>
{% endblock %}